---
// Vi behöver inte "import { marked } from 'marked';" längre
import MyButton from "../MyButton.astro";
import MyImage from "../MyImage.astro";
import Prose from "../Prose.astro";
const { data } = Astro.props;

// Nu hämtar vi färdig HTML direkt från Hygraph.....
const htmlContent = data.heroText.html;
const bgUrl = data.bgBild?.url;
const buttonLabel = data.buttonLabel;
const buttonUrl = data.buttonUrl;
---

<section class="px-4 pt-12">
  <div class="max-w-7xl mx-auto grid md:grid-cols-2 gap-8 items-center">
    <div class="p-2 md:p-8">
      <Prose>
        <div set:html={htmlContent} />
      </Prose>
      {
        buttonLabel && buttonUrl && (
          <MyButton
            label={buttonLabel}
            url={buttonUrl}
            textColor="text-white"
          />
        )
      }
    </div>
    <div class="flex justify-center mt-8">
      <MyImage
        src={bgUrl}
        alt={data.bgBild?.alt || "Hero Image"}
        class="w-full h-auto max-w-3xl rounded-lg shadow-lg"
      />
    </div>
  </div>
</section>
