---
// src/components/sections/SectionVideo.astro
const { data } = Astro.props;
const { title, text, video, poster } = data;
---

<section class="max-w-7xl mx-auto py-8 px-4">
  <div class="rounded-3xl overflow-hidden bg-neutral-950">
    <div class="grid grid-cols-1 lg:grid-cols-12 gap-8 p-8">
      {/* VIDEO - Tar upp 7 kolumner på desktop */}
      <div
        class="lg:col-span-8 relative bg-slate-900 rounded-2xl overflow-hidden
        aspect-video"
      >
        {
          video?.url && (
            <video
              src={video.url}
              poster={poster?.url}
              controls
              preload="none"
              class="w-full h-full object-contain "
            />
          )
        }
      </div>
      {/* TEXT - Tar upp 5 kolumner (eller 3 om du vill ha mer luft) */}
      <div class="lg:col-span-4 flex flex-col justify-center text-slate-50">
        <h2 class="text-xl font-semibold mb-4 uppercase italic">{title}</h2>
        <p class="text-sm leading-relaxed">{text}</p>
      </div>
    </div>
  </div>
</section>
