---
import Prose from "../Prose.astro";

// Ingen import av 'marked' behövs längre!
const { data } = Astro.props;
const htmlContent = data.content.html;
---

<section class="mx-auto px-6 pt-12">
  <div class="max-w-3xl mx-auto">
    {/* set:html renderar den färdiga HTML:en från Hygraph */}
    <Prose>
      <div set:html={htmlContent} />
    </Prose>
  </div>
</section>
