---
import Prose from "../Prose.astro";

// Ingen import av 'marked' behövs längre!
const { data } = Astro.props;
const htmlContent = data.content.html;
---

<section class="max-w-6xl mx-auto px-6 pt-24">
  <div class=""></div>
  <Prose>
    <div set:html={htmlContent} />
  </Prose>
</section>
