---
// index.astro
import RenderSections from "../components/RenderSections.astro";
import BaseLayout from "../layouts/BaseLayout.astro";

import { hygraphFetch } from "../lib/hygraph.js";
import { PAGE_QUERY } from "../lib/queries";

// Vi skickar med "home" som slug till vår globala query
const data = await hygraphFetch(PAGE_QUERY, { slug: "hem" });
const page = data.page;
---

<BaseLayout title={page?.title} description={page?.title}>
  <div class="">
    {
      page ? (
        <RenderSections sections={page.sections} />
      ) : (
        <p>Laddar eller saknar innehåll...</p>
      )
    }
  </div>
</BaseLayout>
