---
import ArrowUp from "./ikonerSvg/ArrowUp.astro";
import LinkExternal from "./ikonerSvg/LinkExternal.astro";

const today = new Date();
const { settings = {} } = Astro.props;
const { siteName, footerText, contactInfo, navigation = [] } = settings;
const contactHtml = contactInfo?.html;
---

<footer class="mt-20 w-full border-t border-gray-900/30">
  <div class="max-w-7xl mx-auto px-6 pt-12 pb-8">
    {/* Navigation */}
    <nav class="flex flex-wrap justify-center gap-x-8 gap-y-3 mb-4">
      {
        navigation.map((link: any) => (
          <a href={link.url} class="text-sm hover:opacity-70 ">
            {link.label}
          </a>
        ))
      }
    </nav>

    {/* Copyright */}
    <div class="text-center">
      <p class="text-sm">
        &copy; {today.getFullYear()}
        <span class="">{siteName}</span>
      </p>
    </div>
    <div class="flex justify-center mt-4">
      <button
        class="text-blue-700 text-base tracking-wide hover:text-blue-500 transition-colors duration-200"
        onclick="window.scrollTo({ top: 0, behavior: 'smooth' })"
      >
        <span class="inline-flex gap-1 text-sm items-center">
          Till toppen
          <ArrowUp />
        </span>
      </button>
    </div>
  </div>
</footer>
