---
const today = new Date();
const { settings = {} } = Astro.props;
const { siteName, footerText, contactInfo, navigation = [] } = settings;
const contactHtml = contactInfo?.html;
---

<footer class="mt-20 w-full border-t border-gray-900/30">
  <div class="max-w-7xl mx-auto px-6 pt-12 pb-8">
    {/* Navigation */}
    <nav class="flex flex-wrap justify-center gap-x-8 gap-y-3 mb-4">
      {
        navigation.map((link: any) => (
          <a href={link.url} class="text-sm hover:opacity-70 ">
            {link.label}
          </a>
        ))
      }
    </nav>

    {/* Copyright */}
    <div class="text-center">
      <p class="text-sm">
        &copy; {today.getFullYear()}
        <span class="">{siteName}</span>
      </p>
    </div>
  </div>
</footer>
