---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"a">;

const { href, class: className, ...props } = Astro.props;
const { pathname } = Astro.url;

// Vi ser till att vi har en stabil check för aktiv länk
const isActive = href === pathname || href === pathname.replace(/\/$/, "");
---

<a
  href={href}
  class:list={[
    className,
    "px-3 py-1 text-sm   rounded-lg",
    // Aktivt läge (behålls även vid klick/hover)
    isActive
      ? "bg-slate-900 text-white shadow-md shadow-slate-200"
      : "text-slate-800 ",
  ]}
  {...props}
>
  <slot />
</a>
