---
// src/components/MyButton.astro
import LinkExternal from "./ikonerSvg/LinkExternal.astro";

interface Props {
  titel: string;
  link: string;
  variant?: "primary" | "secondary" | "outlineDark" | "outlineLight";
  fullWidth?: boolean;
  btnColor?: string;
}

const {
  titel,
  link,
  variant = "primary",
  fullWidth = false,
  btnColor = "#685CEF",
} = Astro.props;

const isExternal = /^https?:\/\//.test(link);

const baseClasses =
  "py-3 px-5 rounded-lg text-base w-fit tracking-wide items-center gap-2 transition delay-100 duration-150 ease-in-out hover:-translate-y-0.5 hover:scale-101 flex font-medium  ";

// Vi definierar objekten med Record för att TypeScript ska veta exakt vilka nycklar som finns
const variants: Record<string, string> = {
  primary: "bg-(--btn-color) text-white border-slate-500 hover:opacity-80",

  secondary: "bg-[#DDE1FF] text-blue-800",

  outlineDark:
    "bg-transparent text-slate-900 border-3 border-[#685CEF] hover:border-[#685CEF] hover:bg-slate-900/5",

  outlineLight:
    "bg-white/10 backdrop-blur-sm border-2 text-white border-white/80 hover:bg-white/20",
};

// Här hämtar vi rätt klasser, och faller tillbaka på primary om något går fel
const themeClasses = variants[variant] || variants.primary;
---

<a
  href={link}
  target={isExternal ? "_blank" : undefined}
  rel={isExternal ? "noopener noreferrer" : undefined}
  aria-label={titel}
  class:list={[
    baseClasses,
    themeClasses,
    { "w-full justify-center": fullWidth },
  ]}
  style={`--btn-color: ${btnColor};`}
>
  {titel}
  {isExternal && <LinkExternal />}
</a>
