---
/* src/components/Prose.astro **/
---

<div
  class="prose prose-max-w-none max-w-full prose-slate
  prose-a:text-(--brand-primary) prose-a:hover:opacity-75 prose-a:no-underline
  prose-p:text-justify
  prose-img:rounded-xl"
>
  <slot />
</div>
