---
import Hero from "./sections/Hero.astro";
import Text from "./sections/Text.astro";
import ImageGrid from "./sections/ImageGrid.astro";
import VideoGrid from "./sections/SectionVideoGrid.astro";
import InfoCardGrid from "./sections/SectionInfoCardGrid.astro";
import SectionFeaturedPost from "./sections/SectionFeaturedPost.astro";

const { sections } = Astro.props;

// Här mappar vi Hygraph __typename till Astro-komponenter
const components: Record<string, any> = {
  SectionHero: Hero,
  SectionText: Text,
  SectionImageGrid: ImageGrid,
  SectionVideoGrid: VideoGrid,
  SectionInfoCardGrid: InfoCardGrid,
  SectionFeaturedPost: SectionFeaturedPost,
};
---

{
  sections.map((section: any) => {
    const Component = components[section.__typename];
    return Component ? (
      <Component data={section} />
    ) : (
      <p>Okänd komponent: {section.__typename}</p>
    );
  })
}
